
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar Giffs...">
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aspernatur libero laboriosam? Ab provident, quisquam architecto autem nesciunt officiis magni delectus quam. Rem error aspernatur consequuntur harum eveniet quae minus?
      </div>

    </div>