<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-white">
    <div id="grubt" class="btn-group-vertical p-2" role="group" aria-label="Vertical button group">
      <button type="button" class="btn btn-light" href="#" style="border-color: lightgray">Dashboard</button>
      <button type="button" class="btn btn-light" href="#" style="border-color: lightgray">Dashboard</button>
      <button type="button" class="btn btn-light" href="#" style="border-color: lightgray">Dashboard</button>
      <button type="button" class="btn btn-light" href="#" style="border-color: lightgray">Dashboard</button>
      <button type="button" class="btn btn-light" href="#" style="border-color: lightgray">Dashboard</button>
      <button type="button" class="btn btn-light" href="#" style="border-color: lightgray">Dashboard</button>
    </div>
  </div> 